<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>WebMark</title>
</head>
<body>

    <aside class="sidebar">
        <div class="toggle">
          <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
              </a>
        </div>
        <div class="side-inner">
  
          <div class="profile">
            <img src="/static/images/logo.png" alt="Image" class="img-fluid">
            <h3 class="name">WebMark</h3>
          </div>
  
          <div class="nav-menu">
            <ul>
              <li class="accordion">
              <li><a href="{% url 'home' %}"><span class="icon-home mr-3"></span>Home</a></li>
              <li><a href="addwebsite/"><span class="icon-add mr-3"></span>Add Website</a></li>
            </ul>

          </div>
        </div>
      </aside>
        

      <script src="/static/js/script.js"></script>
      <script src="/static/js/jquery-3.3.1.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/main.js"></script>
    </body>
  </html>